html{
    scroll-behavior: smooth;
}
body{
    
    margin: 0px;
}
#totop_btn{
    z-index: 11;
    top:80%;
    right: 3%;
    position: fixed;
    font-size: 45px;
    font-weight: bold;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    background-color: #FFA5BA;
    text-align: center;
    transform: rotate(-90deg);
    box-shadow: -0.4em 0 0.5em 0.25em lightgrey;
    transition: opacity 1s ease;
    
}
.totop_btn_act{
    
    opacity: 0.5;
}
.totop_btn_non_act{
    
    opacity: 0;
    display: none;
}
#totop_btn>a{
    color: white;
    text-decoration: none;
    position: relative;
    top:17%;
    margin: auto;
}
header{
    display: block;
    width: 100%;
    background-color: #FFB8CA;
    /* background-image: url('img//Group 40.png'); */
    
}
.menu{
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.white_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    border-radius: 45px;
    background-color: white;
}
.white_btn:hover{
    background-color: #ECEBEB;
}
.white_btn>a{
    font-size: 14px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color:#D41443;
}
.red_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    border-radius: 45px;
    background-color: #D41443;
}
.red_btn:hover{
    background-color: #C7133E;
}
.red_btn>a{
    font-size: 14px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color:white;
}
nav{
    width: 60%;
    z-index: 2;
}
nav>span{
    padding-left: 4%;
    padding-right: 4%;
}
nav>span>a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}
nav>span>a:hover{
    text-decoration: none;
    color:#D41443;
}


.header_scndl{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3%;
}
#header_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.header_info_txt{
    margin-left: 10%;
    /* width: 40%; */
}
.header_info_txt>div{
    padding-top: 3%;
    display: flex;
    flex-direction: row;
}
.header_info_txt>div>.white_btn{
    margin-left: 3%;
}
.header_info_txt>div>.red_btn{
    width: 100px;
}

.white_big_txt{
    font-family: 'Titan One', sans-serif ;
    text-decoration: none;
    color: white;
    font-size: 38px;
}
.red_bigger_txt{
    font-family: 'Titan One', sans-serif ;
    text-decoration: none;
    color: #D41443;
    font-size: 58px;
}
.numbers_of_cft{
    font-family: 'DM Sans', sans-serif ;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.cafes_and_ft{
    margin-top: 1%;
    /* margin-right: 15%; */
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.cafes_and_ft>span{
        font-size: 46px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2;
}
.white_crcl{

    position: relative;
    bottom: 12%;
    left: 5%;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.third_layer_milk{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 7%;
}
.tlmilk{
    width: 100%;
    font-family: 'DM Sans', sans-serif ;
    text-decoration: none;
    color: white;
    font-size: 14px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4%;
    /* position: relative;
    bottom: 10%; */
}
.tlmilk>div{
    padding-right: 7%;
}
#half_header{
    display: flex;
    flex-direction: row;
    
}
#big_ice_cream{
    
    width: 110%;
    height: 110%;
    position: relative;
    z-index: 0;
    
    bottom: 10%;
}

    
#milk_grl{
    position:relative;
    top: 26.8%;
}