#sect_3>img{
    width: 100%;
}

.Sect_3_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    font-family: 'DM Sans', sans-serif ;
    font-size: 14px;
}

[id*="coment"]{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
[id*="coment"]>img{
    margin-bottom: 7%;
}
[id*="coment"]>p{
    /* font-family: 'DM Sans', sans-serif ; */
    border-bottom: solid lightgrey 1px;
    font-weight: 500;
}
.quote{
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    color: lightgray;
}
.btnSl {
    width: 5%;
    display: flex;
    align-items:center;
    flex-direction: row;
    margin-top: 2%;
}
.crclBtn{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.btnSl>div {
    margin-right:10% ;
    margin-left:10%;
}
.triple_d{
    color:#C7133E;
    font-size: 40px;
}
.coment_city{
    font-weight: bold;
    font-size: 20px;
}
[id*='coment']>img:hover{
    transform: scale(1.5);
    transition: transform 1s ease;
}
[id*='btnSl']:hover{
    transform: scale(1.4);
    transition: transform 0.5s ease;
}