#sect_1{
    background-color: #FFF;
    margin: 0;
    padding: 0;
    padding-top: 5%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sect_1>div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 7%;
}

.card{
    display: block;
    width: 28%;
    height: 100%;
    padding: 0;
}

.card_img{
    position: relative;
    top: 3.5rem;
    width: 100%;
    height: 64.5%;
}

[class*="inner_div"]{
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card > .inner_div_1{
    width: 100%;
    height: 100%;
    background-color: #FFB8CA;
}

.card > .inner_div_2{
    width: 100%;
    height: 100%;
    background: #F0D1A5;
}

.card > .inner_div_3{
    width: 100%;
    height: 100%;
    background-color: #C2E297;
}

[class*="inner_2_div"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    padding-top: 15%;
}

.crcl_btn{
    border-radius: 50%;
    width: 11%;
    height: auto;
    margin-left: 43%;
    background-color: #fff;
}

.crcl_btn > a{
    text-decoration: none;
    color: #cf3159;
}

.pinc_big_text{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 1%;
    color: #FFA5BA;
}
.red_bigger_txt[id="sect_1_span_2"]{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #D41443;
}

[class*="inner_div"] p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
} 

[class*="inner_div"] span{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 5%;
    color: #FFFFFF;
}