#sect_4{
    position: relative;
    background-image: url(img/sectionbg2\ 1.png);
    background-color: #FFF5F6;
    background-size: 100%;
    background-attachment:local;
    background-position-y:50% ;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: 0; */

}
#sect_4_cont{
    position: relative;
    z-index: 10;
    /* margin-top: 15%; */
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    /* margin-inline: 10%; */
    flex-wrap: wrap;
}
.sect_4_card{
    /* margin: 3%; */
    /* line-height: 20px; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 25%;
    padding: 3%;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0 0 0.5em 0.2em lightgrey ;
}

.cards_loc{
    color: white;
   
    margin-bottom: 15%;
    padding-top: 3%;
    text-align: center;
    height: 7%;
    width: 30% ;
    border-radius: 10px;
    background-color: #F0D1A5;
}
.sect_4_card>hr{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #E1E1E1;
}
.sect_4_card>p{
    margin-top: 15%;
    margin-bottom: 15%;
    color:#907E82;
}
.pink_color_txt{
   color:  #FFA5BA;
}
#white_bg{
    background-color: #FFFFFF;
    /* background-color: black; */
    width: 100%;
    z-index: 1;
    height: 150px;
    position: relative;
    top: 150px;



}
#green_loc{
    width: 55%;
    background-color: #C2E297;
}






#sect_4_btns{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-around;
    margin-top:5% ;
    flex-wrap: wrap;
}