#sect_1{
    background-color: #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    top: 665px;
    position: absolute;
    margin: 100px;
}

div[class*="card"]{
    display: block;
    width: 335px;
    height: 735px;
    position: absolute;
    top: 956px;
    padding: 0;
}

[class*="card_img"]{
    width: 335px;
    height: 335px;
    position: absolute;
    top: 956px;
}

.card_img_1{
    left: 114px;
}

.card_img_2{
    left: 473px;
}

.card_img_3{
    left: 833px;
}

.card_1 > div{
    border-radius: 2%;
    background-color: #FFB8CA;
    position: absolute;
    width: 329px;
    height: 525px;
    left: 117px;
    top: 1166px;
}

.card_2 > div{
    border-radius: 2%;
    background: #F0D1A5;
    position: absolute;
    width: 330px;
    height: 525px;
    left: 475px;
    top: 1166px;
}

.card_3 > div{
    border-radius: 2%;
    background-color: #C2E297;
    position: absolute;
    width: 329px;
    height: 525px;
    left: 835px;
    top: 1166px;
}

.crcl_btn{
    border-radius: 50%;
    background-color: #070606;
    width: 5%;
    height: 5%;
}

.crcl_btn > a{
    text-decoration: none;
    color: #cf3159;
}

.pinc_big_text[id="sect_1_span_1"]{
    position: absolute;
    left: 515px;
    top: 792px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFA5BA;
}
.red_bigger_txt[id="sect_1_span_2"]{
    position: absolute;
    left: 464px;
    top: 841px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #D41443;
}